extends layout

block content

  #main
    #sidebar
      #logo The Alliance
      #user-list
    #content
      <input id="new-goal" placeholder="Hashtag for new goal...">
      //button#archive.btn.btn-primary Archive

      ul#goals-list
    #mentions  
      ul#mentions-list



block templates
  script#user-template(type="text/template")
    <img src="<%= link %>" />
    .bar
  script#goal-template(type="text/template")
    <div class="prog <%= completed %>"> <%= progress %>%</div>
    .details
      div.hashtag <%= hashtag %>
      div.description <%= description %>
      <input class="edit" value="<%= description %>">
    .action
      i.icon-remove
  script#mention-template(type="text/template")
    .message <%= message %>
    .seperator . . .
  

